@page
@model PollyDemoApi.Pages.AddExternalCallModel
@{
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>🔁 Log External Service Call</h2>
<form method="post">
    @Html.AntiForgeryToken()
    <div>
        <label asp-for="NewExternalCall.ServiceName">Service Name:</label>
        <input asp-for="NewExternalCall.ServiceName" class="form-control" />
    </div>
    <div>
        <label asp-for="NewExternalCall.StatusCode">Status Code:</label>
        <input asp-for="NewExternalCall.StatusCode" class="form-control" />
    </div>
    <div>
        <label asp-for="NewExternalCall.IsSuccessful">Success:</label>
        <input asp-for="NewExternalCall.IsSuccessful" type="checkbox" />
    </div>
    <button type="submit">Log Call</button>
</form>

<p style="color:red">@Model.Result</p>