@page
@model PollyDemoApi.Pages.AddLogEntryModel

@{
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>📝 Add Log Entry</h2>
<form method="post">
    @Html.AntiForgeryToken()
    <div>
        <label asp-for="NewLogEntry.Level">Level:</label>
        <input asp-for="NewLogEntry.Level" class="form-control" />
    </div>
    <div>
        <label asp-for="NewLogEntry.Message">Message:</label>
        <input asp-for="NewLogEntry.Message" class="form-control" />
    </div>
    <button type="submit">Add Log</button>
</form>

<p style="color:red">@Model.Result</p>